[Unit]
Description=oauth2_proxy daemon service
After=syslog.target network.target

# restart forever
StartLimitIntervalSec=0

[Service]
User={{ oauth2_proxy_user }}
Group={{ oauth2_proxy_group }}

ExecStart=/usr/local/bin/oauth2-proxy --config=/etc/oauth2_proxy/%i.cfg
ExecReload=/bin/kill -HUP $MAINPID

KillMode=process

# restart forever
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
