---
- name: Check if we are on an internal system
  ansible.builtin.set_fact:
    baseline_is_internal_system: true
  when: item.domain in ansible_host
  with_items: "{{ internal_domains }}"
  tags: [base, authorized_keys, ssh]

- name: Build list of internal networks
  ansible.builtin.set_fact:
    baseline_soft_keys_options: from="{{ ssh_authorized_keys_soft_opts_from | join(',') }}"
  when: ["ssh_authorized_keys_soft_opts_from | default([]) | length > 0", baseline_is_internal_system is defined, baseline_is_internal_system is true]
  tags: [base, authorized_keys, ssh]

- name: Collect regular keys
  ansible.builtin.set_fact:
    baseline_soft_keys: >-
      [{% for k in authorized_keys_soft %}
        {
          "key": "{{ k.pub }}",
          "key_options": "{% if k.opts is defined %}{{ k.opts }}{% else %}{{ ssh_authorized_keys_soft_opts_from }}{% endif %}"
        }{{ "," if not loop.last else "" }}
      {% endfor %}]
  tags: [base, authorized_keys, ssh]

- name: Add current user to authorized_keys_users
  ansible.builtin.set_fact:
    baseline_authorized_keys_users: "{{ authorized_keys_users | default([]) + ([ansible_user] if ansible_user is defined else []) | unique }}"
  tags: [base, authorized_keys, ssh]

- name: Add hardware keys exclusively without any restrictions
  ansible.posix.authorized_key:
    key: "{{ authorized_keys_hw }}"
    exclusive: true
    key_options: ""
    user: "{{ item }}"
  with_items: "{{ baseline_authorized_keys_users }}"
  tags: [base, authorized_keys, ssh]

- name: Add confined soft keys
  ansible.posix.authorized_key:
    user: "{{ item.0 }}"
    key: "{{ item.1.key }}"
    key_options: "{{ item.1.key_options | default(omit) }}"
    state: present
  loop: "{{ baseline_authorized_keys_users | product(baseline_soft_keys) | list }}"
  loop_control:
    label: "{{ item.0 }} - {{ item.1.key.split()[2] | default('key') }}"
  tags: [base, authorized_keys, ssh]

- name: Add custom ssh keys
  ansible.posix.authorized_key:
    key: "{{ item.pub }}"
    exclusive: false
    key_options: "{{ item.options | default(omit) }}"
    user: "{{ item.user }}"
  when: item.pub is defined and item.user is defined
  with_items: "{{ additional_authorized_keys }}"
  tags: [base, authorized_keys, ssh]
