[Unit]
Description=Check for necessary reboot

[Timer]
Unit=conditional-reboot{% if conditional_reboot_perform_reboot != true %}-check{% endif %}.service
OnCalendar={{ conditional_reboot_timer }}
RandomizedDelaySec={{ conditional_reboot_timer_random_delay_s }}
Persistent=true

[Install]
WantedBy=timers.target
