---
- name: Create keycloak user
  ansible.builtin.user:
    name: "{{ keycloak_user }}"
    system: true
  tags: [keycloak, keycloak-install, bootstrap]

- name: Create keycloak dir
  ansible.builtin.file:
    path: "{{ keycloak_base_dir | default('/var/lib/keycloak') }}"
    state: "directory"
    owner: "{{ keycloak_user }}"
    group: "root"
    mode: "0750"
  tags: [keycloak, keycloak-install, bootstrap]

- name: Create keycloak dir storage
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ keycloak_user }}"
    group: root
    mode: "0700"
  with_items:
    - "{{ keycloak_storage_dir | default('/var/lib/keycloak/storage') }}"
    - "{{ keycloak_certs_dir | default('/var/lib/keycloak/certs') }}"
  tags: [keycloak, keycloak-install, bootstrap]

- name: Get UID for generated user
  ansible.builtin.getent:
    database: passwd
    key: "{{ keycloak_user }}"
  tags: [keycloak, keycloak-install, deps, bootstrap]

- name: Build user string
  ansible.builtin.set_fact:
    _keycloak_user_string: "{{ getent_passwd['keycloak'][1] }}"
  tags: [keycloak, keycloak-install, deps, bootstrap]

- name: Run keycloak
  community.docker.docker_container:
    name: "{{ keycloak_container_name }}"
    image: "{{ keycloak_image }}"
    user: "{{ _keycloak_user_string }}"
    networks:
      - name: "{{ keycloak_docker_network }}"
    restart_policy: "always"
    recreate: true
    published_ports:
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:9000:9000"
    log_driver: json-file
    log_options:
      max-size: "1m"
      max-file: "1"
    env:
      KC_CACHE: local
      KC_DB: "{{ keycloak_db_name }}"
      KC_TRANSACTION_XA_ENABLED: "false"
      KC_TRANSACTION_JTA_ENABLED: "false"
      KC_DB_URL: "jdbc:mariadb://{{ keycloak_db_host }}:3306/{{ keycloak_db_database }}?useSSL=true&requireSSL=true&verifyServerCertificate=false"
      KC_DB_USERNAME: "{{ keycloak_db_user }}"
      KC_DB_PASSWORD: "{{ keycloak_db_password }}"
      KC_HTTP_ENABLED: "true"
      KC_PROXY_HEADERS: "xforwarded"
      DB_POOL_INITIAL_SIZE: "1"
      DB_POOL_MAX_SIZE: "2"
      KC_METRICS_ENABLED: "true"
      DB_POOL_MIN_SIZE: "1"
      KC_HOSTNAME: "https://{{ inventory_hostname }}"
      TZ: UTC
    command:
      - "start"
    volumes:
      - /var/lib/keycloak/certs:/certs:ro
  tags: [keycloak, keycloak-install, bootstrap, deps]
