---
unbound_adblocker_enabled: true
unbound_adblocker_adblocker_file: "{{ unbound_config_conf_d_dir }}/adblocker.db"
unbound_adblocker_update_user: unbound_adblock
unbound_adblocker_update_cron_run_weekly: true
unbound_adblocker_update_cron_hour: 4
unbound_adblocker_update_cron_minute: 0
unbound_adblocker_update_cron_weekday: 0

unbound_root_key_file: "{% if ansible_os_family == 'Debian' %}/var/lib/unbound/anchor.key{% else %}/etc/unbound/root.key{% endif %}"

unbound_blackhole_file: "{{ unbound_config_conf_d_dir }}/blackhole.db"
unbound_blackhole_domains: []
# by default, all interfaces unbound listens on are allowed to access unbound
# define additional hosts / cidr ranges that are allowed to access unbound here
unbound_additional_allowed_sources: []
unbound_config_dir: "{% if ansible_system == 'OpenBSD' %}/var/unbound/etc{% else %}/etc/unbound{% endif %}"
unbound_config_conf_d_dir: "{{ unbound_config_dir }}/{% if ansible_os_family | lower == 'debian' %}unbound.{% endif %}conf.d"
unbound_config_file: "{{ unbound_config_dir }}/unbound.conf"
unbound_config_group: "{% if ansible_system == 'OpenBSD' %}_unbound{% else %}root{% endif %}"
unbound_nameservers: [8.8.8.8]
unbound_restart_delay_s: 20

unbound_forward_tls_upstream: true

unbound_remote_control_socket_path: "{% if ansible_os_family == 'Debian' %}/run/unbound.ctl{% else %}/var/run/unbound/unbound.ctl{% endif %}"

unbound_interfaces:
  - 127.0.0.1
  - ::1

unbound_access_control:
  refuse:
    - 0.0.0.0/0
    - ::0/0
  allow:
    - 127.0.0.1
    - ::1

unbound_exporter_enabled: true
unbound_exporter_user: "unbound"
unbound_exporter_group: "unbound"
unbound_exporter_port: 9167
unbound_exporter_listen_address: "127.0.0.1:{{ unbound_exporter_port }}"
