[http]
  [http.routers]
    [http.routers.openvpnmetrics]
      rule = "Host(`{{ host_name }}`) && PathPrefix(`/prometheus/openvpn/metrics`)"
      service = "openvpnmetrics"
      middlewares = ["auth", "stripper"]
      [http.routers.openvpnmetrics.tls]
        certResolver = "default"
    [http.routers.nodeexporter]
      rule = "Host(`{{ host_name }}`) && PathPrefix(`/prometheus/nodeexporter/metrics`)"
      service = "nodeexporter"
      middlewares = ["auth", "stripper"]
      [http.routers.nodeexporter.tls]
        certResolver = "default"

  [http.middlewares]
    [http.middlewares.test.redirectScheme]
      scheme = "https"
      permanent = true
    [http.middlewares.stripper.stripPrefixRegex]
      regex = ["/prometheus/[a-z]+/"]
    [http.middlewares.auth.basicAuth]
      users = [
        "soeren:$apr1$MYjC2JkL$7b39liHlca5InwQYkHwB.1",
      ]

  [http.services]
    [http.services.openvpnmetrics]
      [[http.services.openvpnmetrics.loadBalancer.servers]]
        url = "http://127.0.0.1:9176"
    [http.services.nodeexporter]
      [[http.services.nodeexporter.loadBalancer.servers]]
        url = "http://127.0.0.1:9100"
