---
- name: "Set variables"
  ansible.builtin.set_fact:
    vector_local_binary: ""
    vector_installed_version: ""
    vector_desired_version: "{{ vector_version | default('') }}"
    vector_download_archive: ""
    vector_download_signature: ""
    vector_stopped_service: ""
    vector_github_release: ""
    vector_go_os: ""
    vector_go_arch: ""
    vector_checksum_signature_file: ""
    vector_checksum_file: ""
    vector_full_filename: ""
    vector_release_checksum: ""
  tags: [vector, vector-install, deps]

- name: Check for existing binary
  ansible.builtin.stat:
    path: /usr/local/bin/{{ binary_name }}
  register: vector_local_binary
  tags: [vector, vector-install, deps]

- name: Check installed version
  when: vector_local_binary.stat.exists
  tags: [vector, vector-install, deps]
  block:
    - name: Check installed version
      ansible.builtin.shell:
        cmd: "set -o pipefail && /usr/local/bin/{{ binary_name }} --version 2>&1 | awk '{print $2}'"
        executable: "/bin/bash"
      register: vector_installed_version
      changed_when: false

    - name: Register local version
      ansible.builtin.set_fact:
        vector_installed_version: v{{ vector_installed_version.stdout }}
      changed_when: false

    - name: Print debug information
      ansible.builtin.debug:
        msg: "Installed version: {{ vector_installed_version }}"
      changed_when: false

- name: Fetch latest release information from github
  when: vector_desired_version is not defined or not vector_desired_version
  tags: [vector, vector-install, deps]
  block:
    - name: Print debug information
      ansible.builtin.uri:
        url: https://api.github.com/repos/{{ github_repo }}/releases/latest
        return_content: true
      register: vector_github_release
      retries: 3
      delay: 5
      until: vector_github_release is not failed

    - name: Set github release
      ansible.builtin.set_fact:
        vector_desired_version: "{{ vector_github_release.json.tag_name }}"
      changed_when: false

    - name: Print latest GitHub version
      ansible.builtin.debug:
        msg: "Latest GitHub version: {{ vector_desired_version }}"
      changed_when: false

- name: "Download artifacts"
  when: not vector_local_binary.stat.exists or vector_desired_version != vector_installed_version
  tags: [vector, vector-install, deps]
  block:
    - name: Generate temp dir
      become: false
      ansible.builtin.tempfile:
        state: directory
        suffix: "{{ binary_name }}"
      register: vector_download_dir

    - name: Set vars for generating download link
      ansible.builtin.set_fact:
        vector_go_arch: "{{ 'x86_64' if ansible_architecture == 'x86_64' else 'armv7' if ansible_architecture == 'armv7l' else 'aarch64' if ansible_architecture == 'aarch64' }}"
        vector_download_dir: "{{ vector_download_dir.path }}"
        vector_extraction_dir: "{{ vector_download_dir.path }}/{{ binary_name }}"
      changed_when: false

    - name: Set filenames
      ansible.builtin.set_fact:
        vector_checksum_file: "{{ vector_download_dir }}/{{ binary_name }}-checksums.sha256"
        vector_full_filename: "{{ binary_name }}-{{ vector_desired_version[1:] }}-{{ vector_go_arch }}-unknown-linux-gnu{% if vector_go_arch in ['arm', 'armv7'] %}eabihf{% endif %}.tar.gz"
      changed_when: false

    - name: Get checksum for archive
      ansible.builtin.set_fact:
        vector_release_checksum: "{{ item.split(' ')[0] }}"
      when: [vector_full_filename in item, (not vector_local_binary.stat.exists or vector_installed_version != vector_desired_version)]
      with_items: ["{{ lookup('url', 'https://github.com/' + github_repo + '/releases/download/' + vector_desired_version + '/' + binary_name + '-' + vector_desired_version[1:] + '-SHA256SUMS', wantlist=True) | list }}"]

    - name: Download binary
      become: false
      ansible.builtin.get_url:
        url: https://github.com/{{ github_repo }}/releases/download/{{ vector_desired_version }}/{{ vector_full_filename }}
        dest: "{{ vector_download_dir }}/{{ vector_full_filename }}"
        checksum: sha256:{{ vector_release_checksum }}
        mode: "0640"
      register: vector_download_archive
      until: vector_download_archive is succeeded
      retries: 5
      delay: 2

    - name: Download release checksum
      become: false
      ansible.builtin.get_url:
        url: https://github.com/{{ github_repo }}/releases/download/{{ vector_desired_version }}/{{ binary_name }}-{{ vector_desired_version[1:] }}-SHA256SUMS
        dest: "{{ vector_checksum_file }}"
        mode: "0640"
      register: vector_download_signature
      until: vector_download_signature is succeeded
      retries: 5
      delay: 2

    - name: Unpack binaries from archive
      become: false
      ansible.builtin.unarchive:
        src: "{{ vector_download_dir }}/{{ vector_full_filename }}"
        dest: "{{ vector_download_dir }}"
        remote_src: true
        list_files: true
      register: _vector_unarchive
      check_mode: false

    - name: Stop service
      ansible.builtin.service:
        name: "{{ service_name }}"
        state: stopped
      failed_when: false
      register: vector_stopped_service

    - name: Copy binaries
      ansible.builtin.copy:
        src: "{{ vector_download_dir }}/{{ _vector_unarchive.files[0] }}/bin/{{ item }}"
        dest: /usr/local/bin/{{ item }}
        remote_src: true
        mode: "0755"
        owner: root
        group: root
      with_items: [vector]
