metadata_dir = "{{ garage_metadata_dir }}"
data_dir = "{{ garage_data_dir }}"
db_engine = "{{ garage_db_engine }}"

replication_factor = {{ garage_replication_factor }}

rpc_bind_addr = "{{ garage_rpc_bind_addr }}"
rpc_public_addr = "{{ garage_rpc_public_addr }}"
rpc_secret = "{{ garage_rpc_secret }}="

[s3_api]
s3_region = "{{ garage_s3_region }}"
api_bind_addr = "{{ garage_s3_bind_addr }}"
root_domain = "{{ garage_s3_root_domain }}"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "{{ garage_admin_bind_addr }}"
admin_token = "{{ garage_admin_token }}"
metrics_token = "{{ garage_admin_metrics_token }}"
