---
- name: Install a database server
  hosts: dbs
  become: true
  gather_facts: true
  vars:
    # renovate: datasource=docker depName=prom/mysqld-exporter
    mysqld_exporter_version: "v0.17.2"
    mysqld_exporter_image: "prom/mysqld-exporter:{{ mysqld_exporter_version }}"
  tasks:
    - name: "Run role platform"
      ansible.builtin.include_role:
        name: platform
      tags: always

    - name: "Run role keepalived"
      ansible.builtin.include_role:
        name: keepalived
      tags: always

    - name: "Run role docker"
      ansible.builtin.include_role:
        name: docker
      tags: always

    - name: "Run role restic"
      ansible.builtin.include_role:
        name: restic
      tags: always
      when: restic_backups | default([]) | length > 0

    - name: "Run role mariadb_cluster"
      ansible.builtin.include_role:
        name: mariadb_cluster
      tags: always

    - name: "Run tasks haproxy.yml"
      ansible.builtin.include_tasks: tasks/haproxy.yml
      tags: always
