CREATE DATABASE IF NOT EXISTS {{ keycloak_db_name }};
CREATE USER '{{ keycloak_db_user }}'@'%' IDENTIFIED BY '{{ keycloak_db_password }}';
GRANT ALL PRIVILEGES ON {{ keycloak_db_name }}.* TO '{{ keycloak_db_user }}'@'%';
