[Unit]
Description=k0s - Zero Friction Kubernetes
Documentation=https://docs.k0sproject.io
ConditionFileIsExecutable=/usr/local/bin/k0s

After=network-online.target
Wants=network-online.target

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/local/bin/k0s controller --enable-worker={{ k0s_enable_worker | default(true) | string | lower }}{% if k0s_labels %} --labels="{{ k0s_labels | join(',') }}"{% endif %}{% if k0s_kubelet_args %} --kubelet-extra-args="{{ k0s_kubelet_args | join(' ') }}"{% endif %}

RestartSec=10
Delegate=yes
KillMode=process
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
LimitNOFILE=999999
Restart=always

[Install]
WantedBy=multi-user.target
