---
apiVersion: k0s.k0sproject.io/v1beta1
kind: ClusterConfig
spec:
  api:
{% if k0s_extra_args | default([]) | length > 0 %}
    extraArgs:
{{ k0s_extra_args | to_nice_yaml(indent=2) | indent(6, true) }}
{% endif %}
