[Unit]
Description=Mount WebDAV remote using rclone
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User={{ rclone_mount_user | default('rclone') }}
Group=nogroup
ExecStart=/usr/bin/rclone mount webdav: /mnt/music \
    --config=/etc/rclone-webdav.conf \
    --vfs-cache-mode off \
    --vfs-cache-poll-interval 1m \
    --vfs-read-chunk-size 4M \
    --vfs-read-chunk-size-limit off \
    --vfs-write-back 5s \
    --no-modtime \
    --attr-timeout 5s \
    --dir-cache-time 60m \
    --poll-interval 1m \
    --transfers 1 \
    --checkers 1 \
    --low-level-retries 20 \
    --cache-dir /var/rclone/music \
    --read-only \
    --allow-other

ExecStop=/bin/fusermount -u /mnt/music
ExecReload=/bin/fusermount -u /mnt/music
#ProtectSystem=full
#NoNewPrivileges=true
#PrivateTmp=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectControlGroups=true
#PrivateDevices=true
#ReadWritePaths=/mnt /etc/mtab
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
