[Unit]
Description=Mount WebDAV remote using rclone
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User={{ rclone_mount_user | default('rclone') }}
Group=nogroup
ExecStart=/usr/bin/rclone mount webdav: /mnt/media \
    --config=/etc/rclone-webdav.conf \
    --vfs-cache-mode full \
    --vfs-cache-max-size 10G \
    --vfs-cache-max-age 24h \
    --vfs-read-chunk-size 128M \
    --vfs-read-chunk-size-limit off \
    --vfs-write-back 5s \
    --read-only \
    --buffer-size 64M \
    --attr-timeout 1s \
    --dir-cache-time 60m \
    --poll-interval 1m \
    --transfers 8 \
    --checkers 8 \
    --low-level-retries 20 \
    --vfs-cache-poll-interval 1m \
    --cache-dir /var/rclone/media \
    --allow-other

ExecStop=/bin/fusermount -u /mnt/media
#ProtectSystem=full
#NoNewPrivileges=true
#PrivateTmp=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectControlGroups=true
#PrivateDevices=true
#ReadWritePaths=/mnt /etc/mtab
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
