[Unit]
  Description=cifs mount fileserver {{ item }}
  Requires=network-online.target
  After=network-online.service

[Automount]
  Where=/media/fileserver/{{ item }}
  TimeoutIdleSec=7200

[Install]
  WantedBy=multi-user.target
