{{ vault_audit_log }} {
  rotate 30
  daily
  notifempty
  missingok
  compress
  delaycompress
  postrotate
    /usr/bin/systemctl reload vault 2> /dev/null || true
  endscript
  extension log
  dateext
  dateformat %Y-%m-%d.
}
