---
- name: Setup rootserver
  hosts: rootserver
  become: true
  gather_facts: true
  tasks:
    - name: "Run tasks music.yaml"  # Run this task first as it only creates users/groups and is needed later
      ansible.builtin.include_tasks: tasks/music.yaml
      tags: always

    - name: "Run role wireguard"
      ansible.builtin.include_role:
        name: wireguard
      tags: always

    - name: "Allow incoming traffic from wireguard wg0 (Debian)"
      community.general.ufw:
        rule: allow
        interface: wg0
        direction: in
      when: ansible_os_family | lower == "debian"
      tags: firewall

    - name: "Allow incoming traffic from wireguard wg0 (RedHat)"
      ansible.posix.firewalld:
        zone: trusted
        interface: wg0
        permanent: true
        state: enabled
        immediate: true
      when: ansible_os_family | lower == "redhat"
      tags: firewall

    - name: "Allow WireGuard port (RedHat)"
      ansible.posix.firewalld:
        port: "{{ item }}"
        zone: public
        permanent: true
        state: enabled
        immediate: true
      when: ansible_os_family | lower == "redhat"
      loop:
        - "12686/udp"
        - "51820/udp"
      tags: firewall

    - name: "Run role platform"
      ansible.builtin.include_role:
        name: platform
      tags: always

    - name: "Run role alertmanager"
      ansible.builtin.include_role:
        name: alertmanager
      tags: always

    - name: "Run role tunnelguard"
      when: [ansible_system == "Linux", "inventory_hostname in wg_nets[wireguard_wg_net_name]"]
      ansible.builtin.include_role:
        name: tunnelguard
      tags: [tunnelguard, wireguard, vpn]

    - name: "Run role ssh_aegis"
      ansible.builtin.include_role:
        name: ssh_aegis
      tags: always

    - name: "Run role unbound"
      ansible.builtin.include_role:
        name: unbound
      tags: always

    - name: "Run tasks unbound.yaml"
      ansible.builtin.include_tasks: tasks/unbound.yaml
      tags: always

    - name: "Run tasks haproxy"
      ansible.builtin.include_tasks: tasks/haproxy.yaml
      tags: always

    - name: "Run role certbot"
      ansible.builtin.include_role:
        name: certbot
      tags: always

    - name: "Run role ip_plz"
      ansible.builtin.include_role:
        name: ip_plz
      tags: always

    - name: "Run tasks ip-plz.yaml"
      ansible.builtin.include_tasks: tasks/ip-plz.yaml
      tags: always

    - name: "Run role navidrome"
      ansible.builtin.include_role:
        name: navidrome
      tags: always

    - name: "Enable routing"
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: "1"
        sysctl_set: true
        state: present
        reload: true
      tags: [wireguard, wg, sysctl, firewall]

    - name: "Create systemd resolved config.d"
      ansible.builtin.file:
        path: /etc/systemd/resolved.conf.d/
        state: directory
        owner: root
        group: root
        mode: "0755"
      tags: [resolved, systemd-resolved]

    - name: "Create drop-in config for resolved"
      ansible.builtin.template:
        src: resolved-dns.conf.j2
        dest: /etc/systemd/resolved.conf.d/resolved-dns.conf
        owner: root
        group: root
        mode: "0755"
      notify: _restart resolved
      tags: [resolved]

  handlers:
    - name: _restart resolved
      ansible.builtin.systemd:
        name: systemd-resolved
        state: restarted

    - name: "Run ip-plz renewal hook"
      ansible.builtin.command: /etc/letsencrypt/renewal-hooks/post/ip-plz.sh
      changed_when: true
