---
- name: "Kubernetes sysctl tuning"
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: "present"
    reload: true
  loop:
    - name: fs.inotify.max_user_watches
      value: "1048576"
    - name: fs.inotify.max_user_instances
      value: "8192"
    - name: fs.inotify.max_queued_events
      value: "32768"
    - name: net.ipv4.ip_forward
      value: "1"
    - name: net.bridge.bridge-nf-call-iptables
      value: "1"
    - name: net.bridge.bridge-nf-call-ip6tables
      value: "1"
    - name: net.core.somaxconn
      value: "32768"
    - name: fs.file-max
      value: "2097152"
  tags: [k0s, k0s-configure, k8s, kubernetes, sysctl]

- name: "Run tasks install-github.yml"
  ansible.builtin.include_tasks: install-github.yml
  vars:
    binary_name: k0s
    github_repo: k0sproject/k0s
    service_name: k0s
  tags: always

- name: Build k0s extra args
  ansible.builtin.set_fact:
    k0s_extra_args: >-
      {{
        {
          'oidc-issuer-url': k0s_oidc_issuer_url,
          'oidc-client-id': k0s_oidc_client_id,
          'oidc-groups-claim': k0s_oidc_groups_claim,
          'oidc-groups-prefix': k0s_oidc_groups_prefix,
          'oidc-username-prefix': k0s_oidc_username_prefix
        }
        | dict2items
        | selectattr('value', 'ne', '')
        | items2dict
      }}
  tags: [k0s, k0s-configure]

- name: "Create k0s config"
  ansible.builtin.template:
    src: "k0s.yaml.j2"
    dest: "{{ k0s_config_file }}"
    owner: "root"
    group: "root"
    mode: "0640"
  notify: "Restart k0s"
  tags: [k0s, k0s-configure]

- name: Create systemd unit
  ansible.builtin.template:
    src: "k0s.service.j2"
    dest: "/etc/systemd/system/{{ k0s_service_name }}.service"
    owner: "root"
    group: "root"
    mode: "0644"
  notify: "Restart k0s"
  tags: [k0s, k0s-configure]

- name: "Enable/disable systemd unit"
  ansible.builtin.systemd:
    name: "{{ k0s_service_name }}"
    enabled: "{{ k0s_service_enabled }}"
  tags: [k0s, k0s-configure]

- name: "Start/stop systemd unit"
  ansible.builtin.systemd:
    name: "{{ k0s_service_name }}"
    state: "{% if k0s_service_enabled %}started{% else %}stopped{% endif %}"
  tags: [k0s, k0s-configure]

- name: Wait for Kubernetes API server to become available
  ansible.builtin.wait_for:
    host: "127.0.0.1"
    port: 6443
    delay: 5      # seconds to wait before starting checks
    timeout: 300  # maximum time to wait in seconds
    state: started
  tags: [k0s, k0s-configure, k0s-install, kubeconf]

- name: "Generate kubeconf"
  ansible.builtin.include_tasks: kubeconf.yaml
  tags: always

- name: "Configure cluster"
  ansible.builtin.include_tasks: configure.yaml
  tags: always
