---
- name: "Install ffmpeg"
  ansible.builtin.package:
    name: "ffmpeg"
  tags: [flac, flac-converter]

- name: Copy flac-converter script
  ansible.builtin.copy:
    src: flac-converter.sh
    dest: "/usr/local/bin/flac-converter.sh"
    remote_src: false
    owner: root
    group: root
    mode: "0755"
  tags: [flac, flac-converter]

- name: Add systemd unit
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/etc/systemd/system/{{ item }}"
    owner: root
    group: root
    mode: "0755"
  with_items:
    - flac-converter.service
    - flac-converter.timer
  register: _flac_converter_systemd
  tags: [flac, flac-converter]

- name: Enable systemd unit
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    daemon_reload: "{{ _flac_converter_systemd is changed }}"
  with_items:
    - flac-converter.service
    - flac-converter.timer
  tags: [flac, flac-converter]
