_RESTIC_TYPE={{ item.value.type | default("directory") }}
RETENTION_DAYS={{ item.value.retention_days | default(7) }}
RETENTION_WEEKS={{ item.value.retention_weeks | default(4) }}
RETENTION_MONTHS={{ item.value.retention_months | default(3) }}
{% if item.value.targets | default([]) | length > 0 %}
RESTIC_TARGETS="{% for path in item.value.targets %}{{ path }}{% if not loop.last %},{% endif %}{% endfor %}"
{% endif %}
{% if item.value.exclude_items | default([]) | length > 0 %}
RESTIC_EXCLUDE_ITEMS="{% for path in item.value.exclude_items %}{{ path }}{% if not loop.last %},{% endif %}{% endfor %}"
{% endif %}
{% if item.value.exclude_file | default('') | length > 0 %}
RESTIC_EXCLUDE_FILE="{{ item.value.exclude_file }}"
{% endif %}
RESTIC_REPOSITORY="{{ item.value.repo }}"
{% if item.value.password_cmd | default('') | length > 0 %}
RESTIC_PASSWORD_COMMAND="{{ item.value.password_cmd }}"
{% elif item.value.password | default('') | length > 0 %}
RESTIC_PASSWORD="{{ item.value.password }}"
{% endif %}
{% if item.value.extra_vars is defined %}
{% for key, value in item.value.extra_vars.items() %}
{{key}}={{value}}
{% endfor %}
{% endif %}
