-- create sst user
CREATE USER '{{ .user }}'@'%' IDENTIFIED BY '{{ .password }}';
GRANT RELOAD, LOCK TABLES, PROCESS, REPLICATION CLIENT, REPLICATION SLAVE,
      CREATE, INSERT, SELECT, SUPER, SHOW VIEW, EVENT, TRIGGER, FILE ON *.* TO '{{ .user }}'@'%';