# {{ ansible_managed }}
[Unit]
Description=dufs fileserver %i
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ dufs_user }}
Group={{ dufs_group | default('root') }}
ExecStart=/usr/local/bin/dufs --config /etc/dufs-%i.yaml

PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
SyslogIdentifier=dufs
InaccessiblePaths=/root /home /var

# restart forever
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target
