#!/usr/bin/env bash

set -u

WEBHOOK_HOST="{{ remote_move.webhook_host | default('') }}"
WEBHOOK_PATH="{{ remote_move.webhook_path | default('') }}"

PATH_SHOWS=/srv/files/media/shows
PATH_MOVIES=/srv/files/media/movies

get_new_files_cnt() {
    local NEW_MOVIES=$(find "${PATH_MOVIES}" -cmin -5 | wc -l)
    local NEW_SHOWS=$(find "${PATH_SHOWS}" -cmin -5 | wc -l)

    echo $((NEW_MOVIES + NEW_SHOWS))
}

send_notifications() {
    /usr/local/bin/magneto -s {{ remote_move.dest }}/shows -d "${PATH_SHOWS}" -t {{ telegram_tokens.torrent }} -r {{ telegram_chat_id }} -f ~/magneto.log
    /usr/local/bin/magneto -s {{ remote_move.dest }}/movies -d "${PATH_MOVIES}" -t {{ telegram_tokens.torrent }} -r {{ telegram_chat_id }} -f ~/magneto.log
}

invoke_webhook() {
    curl -X POST "https://${WEBHOOK_HOST}/${WEBHOOK_PATH}"
}

main() {
    JSON=$(/usr/local/bin/remote_move {{ remote_move.host }} {{ remote_move.src }} {{ remote_move.dest }})
    if [ $? -ne 0 ]; then
        echo "remove_move was unsuccessful"
        exit 1
    fi

    NUM_TRANSFERRED=$(echo "${JSON}" | jq '.files_transferred')
    if [ $NUM_TRANSFERRED -gt 0 ]; then
        send_notifications

        NEW_FILES_CNT=$(get_new_files_cnt)
        if [ ${NEW_FILES_CNT} -gt 0 ] && [ -n "${WEBHOOK_HOST}" ] && [ -n "${WEBHOOK_PATH}" ]; then
            invoke_webhook
        fi
    fi
}

main
