#!/bin/sh

SRC="/srv/files/media/music-opus-stream/"
DEST="/srv/files/music/"
HOST="music@45.136.28.72"
SYNC_JOB_NAME="documents"

METRICS_DIR="/var/lib/node_exporter"
METRICS_FILE="${METRICS_DIR}/fileserver-sync-job-${SYNC_JOB_NAME}.prom"

print_metrics() {
    local PREFIX="fileserver_sync_job"
    local SUCCESS="${PREFIX}_success{name=\"${SYNC_JOB_NAME}\"}"
    local TIMESTAMP="${PREFIX}_timestamp_seconds{name=\"${SYNC_JOB_NAME}\"}"
    echo "${SUCCESS} $1"
    echo "${TIMESTAMP} $(date +%s)"
}

sync_documents() {
    rsync -thrv --delete --ignore-existing "${SRC}" "${HOST}":"${DEST}" > /tmp/sync-job-rootserver.log 2>&1
    local EXIT_CODE=$?

    if [ ! -d "${METRICS_DIR}" ]; then
        return
    fi
      
    # twisted world we live in
    if [ $EXIT_CODE -eq 0 ]; then
        print_metrics 1 > "${METRICS_FILE}.tmp"
    else
        print_metrics 0 > "${METRICS_FILE}.tmp"
    fi
    mv "${METRICS_FILE}.tmp" "${METRICS_FILE}"
}

if [ ! -d "${SRC}" ]; then
    exit 1
fi

sync_documents
