#!/usr/bin/env bash

LIVE_DIR="/etc/letsencrypt/live/"
MOSQUITTO_DIR="/etc/mosquitto"
WHITELIST="{{ mosquitto_tls_whitelist_domain | default('') }}"

if [ ! -d ${LIVE_DIR} ]; then
    echo "cert dir doesn't exist"
    exit 1
fi

if [ ! -d ${MOSQUITTO_DIR} ]; then
    echo "mosquitto dir doesn't exist"
    exit 1
fi

for dir in "${LIVE_DIR}"/*/; do
    dir=${dir%*/}
    host="$(basename ${dir})"

    if [ -n "${WHITELIST}" ] && [ "${WHITELIST}" != "${host}" ]; then
	    echo "${host} does not match ${WHITELIST}, continuing"
	    continue
    fi

    cp -L "${dir}/fullchain.pem" "${MOSQUITTO_DIR}/${host}.crt.pem"
    cp -L "${dir}/privkey.pem" "${MOSQUITTO_DIR}/${host}.key.pem"

    chown mosquitto:mosquitto "${MOSQUITTO_DIR}/${host}".*.pem
    systemctl restart mosquitto
done
