{% for loc in (local_hosts | dict2items | selectattr('key', '==', location) | list) + (local_hosts | dict2items | selectattr('key', '!=', location) | list) -%}
{% for network_domain in network_domains %}
{% for host in loc.value %}
{% if host.omit_datacenter | default(false) and loc.key == location %}
local-data: "{{ host.host }}.{{ network_domain }}. {{ host.ttl | default(3600) }} IN A {{ host.logical }}"
local-data-ptr: "{{ host.logical }} {{ host.host }}.{{ network_domain }}"
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
