#!/bin/sh

set -e

convert_music() {
{% for item in acxi_jobs %}
{% if item.name != "all" %}
    /usr/local/bin/acxi --quiet --fork {{ ansible_processor_vcpus }} {% if item.quality is defined %}--quality {{ item.quality }} {% endif %}-o {{ item.type }} -s {{ item.source }} -d {{ item.target }}
{% endif %}
{% endfor %}
}

run_hooks() {
    set +e
{% for hook in acxi_jobs_hooks | default([]) %}
    {{ hook }}
{% endfor %}
}

convert_music
run_hooks
