# {{ ansible_managed }}
[Unit]
Description=gobot-lux
After=network.target

# restart forever
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ gobot_lux_user }}
Group={{ gobot_lux_group | default(gobot_lux_user) }}
ExecStart=/usr/local/bin/gobot-lux -config "{{ gobot_lux_config_file }}"

#PrivateTmp=true
#ProtectHome=true
#NoNewPrivileges=true
#ProtectSystem=strict
#ProtectControlGroups=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectSystem=full

SyslogIdentifier=gobot-lux

# restart forerver
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target
