# {{ ansible_managed }}
[Unit]
Description=smartmon

[Service]
Type=simple
User=root
Group=root
ExecStart=/bin/bash -c '/usr/local/sbin/smartmon.sh > {{ prometheus_text_dir }}/smartmon.prom.tmp && mv {{ prometheus_text_dir }}/smartmon.prom.tmp {{ prometheus_text_dir }}/smartmon.prom'

PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

SyslogIdentifier=smartmon

[Install]
WantedBy=multi-user.target
