---
- name: "Run tasks install.yml"
  ansible.builtin.include_tasks: install.yml
  tags: always

- name: "Run tasks install-github.yml"
  ansible.builtin.include_tasks: install-github.yml
  vars:
    binary_name: "minio"
    github_repo: "pgsty/minio"
    service_name: "minio"
    version_wanted: "{{ minio_version }}"
  tags: always

- name: "Run tasks configure.yaml"
  ansible.builtin.include_tasks: configure.yaml
  tags: always
