[Unit]
# restart forever
StartLimitIntervalSec=0
Before=sshd.service

[Service]
# restart forever
Restart=on-failure
RestartSec=30
ExecStart=
ExecStart=/bin/bash -c 'if ! /usr/bin/wg show %i &>/dev/null; then /usr/bin/wg-quick up %i; else echo "%i already up."; fi'
