[Unit]
Description=Sign a ssh host key
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vault-ssh-cli sign-host-key

[Install]
WantedBy=multi-user.target
