---
- name: Setup seedbox
  hosts: seedbox
  become: true
  vars:
    baseline_enable_firewall: false
  tasks:
    - name: "Run role platform"
      ansible.builtin.include_role:
        name: platform
      tags: [always]

    - name: "Run role wireguard"
      ansible.builtin.include_role:
        name: wireguard
      tags: always

    - name: "Run tasks geo-firewall.yaml"
      ansible.builtin.include_tasks: tasks/geo-firewall.yaml
      tags: always

    - name: "Run role certbot"
      ansible.builtin.include_role:
        name: certbot
      tags: always

    - name: "Run tasks lootorganizer"
      ansible.builtin.include_tasks: tasks/lootorganizer.yaml
      tags: always

    - name: "Add scripts for transmission"
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: /usr/local/bin/{{ item }}
        owner: root
        group: root
        mode: "0755"
      with_items: [transmission-script-torrent-added.sh, transmission-script-torrent-done.sh]
      tags: [transmission, torrent, script]

    - name: "Run role transmission"
      ansible.builtin.include_role:
        name: transmission
      tags: always

    - name: "Run tasks haproxy.yml"
      ansible.builtin.include_tasks: tasks/haproxy.yml
      tags: always

    - name: "Run role ip_plz"
      ansible.builtin.include_role:
        name: ip_plz
      tags: always

    - name: "Run role ssh_aegis"
      ansible.builtin.include_role:
        name: ssh_aegis
      tags: always

    - name: "Run tasks ip-plz.yaml"
      ansible.builtin.include_tasks: tasks/ip-plz.yaml
      tags: always

  handlers:
    - name: "Restart haproxy"
      ansible.builtin.systemd:
        state: restarted
        name: haproxy
      failed_when: false

    - name: "Run ip-plz renewal hook"
      ansible.builtin.command: /etc/letsencrypt/renewal-hooks/post/ip-plz.sh
      changed_when: true

    - name: "Run firewall"
      ansible.builtin.command: /etc/firewall.sh
      changed_when: true
