---
- name: "Install packages"
  ansible.builtin.package:
    name:
      - "jq"
      - "cryptsetup"
  tags: [media, storage]

- name: "Manage fileserver mode file"
  ansible.builtin.file:
    path: "{{ nas_fileserver_mode_active_file }}"
    state: "{{ 'touch' if fileserver_mode == 'active' else 'absent' }}"
    owner: "root"
    group: "root"
    mode: "0644"
  tags: [media, storage]

- name: Create mountpoint target path
  ansible.builtin.file:
    path: "{{ nas_storage_disk_mountpoint }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"
  tags: [media, storage]
